@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playpen+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
}

.navbar {
  display: flex;
  padding: 25px;
  height: 10%;
  background-color: #fb8c00;
}

.navbar button {
  cursor: pointer;
  width: 125px;
  height: 50px;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: 2px solid #f5ad56;
}

.navbar .btns {
  display: flex;
  justify-content: space-evenly;
}
